<% provide :button_text, "Save changes" %>
<% provide :title, "Edit User" %>
<h1>Editing User</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with url: '/user/'+@user["id"].to_s, method: :put do |form| %>
      <%=render "shared/message_printer" %>
      <%= form.hidden_field :id, value: :@user["id"]%>
      <%= form.label :name %>
      <%= form.text_field :name, class:"form-control", value: @user["name"] %>

      <%= form.label :email %>
      <%= form.email_field :email_id , class:"form-control", value: @user["email_id"] %>

      <%= form.label :password %>
      <%= form.password_field :password , class:"form-control", value: @user["password"] %>

      <%= form.label :password_confirmation, "Confirmation" %>
      <%= form.password_field :password_confirmation , class:"form-control"%>

      <%= form.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
